@mixin animazione-nav{
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 4px;
    border-radius: 120px;

}
$primary-color: #00e5ff;
$secondary-color: #64FFDA;
$gradient: linear-gradient(to right, $primary-color , $secondary-color)