@mixin animazione-nav{
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 4px;
    border-radius: 120px;

}
$primary-color: #8AB6D6;
$secondary-color: #0061A8;
$gradient: linear-gradient(to right, $primary-color , $secondary-color);
$gradient-inverse: linear-gradient(to left, $primary-color , $secondary-color)